<div class="row my-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <form action="/update/<%= user.id %> " method="POST" enctype="multipart/form-data">
                <%- include('./partials/errors.ejs') %> 
                <% errors.map(error => { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= error.message %> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% }); %> 
                <div class="row justify-content-center mt-4">
                        <img src="/uploads/<%= user.image %> " alt="" class="col-md-5 ">
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 mt-4">
                        <small>please update image if needed*</small>
                        <input type="file" name="myFile" id="myFile" class="form-control">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 ">
                        <small>your name*</small>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Name" value="<%= user.name %> ">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 ">
                        <small>your email*</small>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Email" value="<%= user.email %> ">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 ">
                        <small>your phone number*</small>
                        <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone" value="<%= user.phone %> ">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 ">
                        <small>your profession*</small>
                        <input type="text" name="profession" id="profession" class="form-control" placeholder="Profession" value="<%= user.profession %> ">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 mt-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                        <a href="/data" class="btn btn-secondary form-control mt-2 mb-5">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>